<% provide(:title, 'About') %>
<h1>Oz</h1>
<p>A magical land with a yellow brick road...
It can provide a lot of wisdom and answers
as well as a little bit of help</p>
<p>Administrator: <a href="mailto:falornan@gmail.com">falornan@gmail.com</a></p>
